$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding: 10px 0;
}

.node-container {
  background: #eee;
  height: 500px;
}

.add {
  margin: 0 0 1em;
  position: relative;
  z-index: 100;
}
.node {
  position: absolute;
  background: #ccc;
  padding: 20px;
  border-radius: 10px;
}
